body {
    /* background-color: aqua; */
    margin: 0%;
    padding: 0%;
    
    
}
button {
    padding: 5px 10px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 100px;
    /* width:25%; */
    
    /* margin-left: 40px; */
    margin:auto;
    display: block;
    margin-top: 1rem;
    
}
button:hover{
    background-color:black;
    color: white;
}
nav,footer{
    background-color: rgb(0, 0, 0);
    padding: 6px;
    color: white;
    
}
footer{
    margin-top: 10rem;
    text-align: center;
}
.block{
    border: 2px solid black;
    width:50%;
    height: 20rem;
    border-radius: 10px;
    
    margin: auto;
    margin-top:3rem;
    
}
.color_box{
    width:35%;
    height: 10rem;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    
    background-color: aqua;
    
}
.hex_code{
    background-color: navy;
    color: wheat;
    height: 2rem;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    font-size: xx-large;
    font-weight: bolder;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;

}
